# Secret variables
apiVersion: v1
kind: Secret
metadata:
  name: db-secrets
type: Opaque
data:
  DB_ENGINE:   # base64 encoded value of DB_ENGINE e.g. mysql
  DB_HOST:     # base64 encoded value of DB_HOST
  DB_NAME:     # base64 encoded value of DB_NAME
  DB_USERNAME: # base64 encoded value of DB_USERNAME
  DB_PASS:     # base64 encoded value of DB_PASS
  DB_PORT:     # base64 encoded value of DB_PORT e.g. 3306
  